.round-button {
    width: 50px; /* Vous pouvez ajuster la largeur et la hauteur selon vos besoins */
    height: 50px;
    border-radius: 50%; /* Utilise un rayon de bordure différent pour créer un demi-cercle */
    background-color: #3498db; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Supprime les bordures */
    cursor: pointer; /* Curseur de souris indiquant une interaction */
    position: absolute; /* Positionnement absolu */
    left: -25px; /* Déplace l'élément à l'extérieur de la zone visible (moitié de la largeur) */
    top: 50%; /* Centre l'élément verticalement */
    transform: translateY(-50%);
    transition: left 1s ease;
}

.menu-deroulant {
    width: 15%;
    height: 100vh;
    background-color: #3498db;
    position: fixed;
    left: -15%;
    transition: left 1s ease;
}

/* Styles pour les liens du menu déroulant */
.menu-deroulant a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}